.special {
    resize:horizontal;
    overflow:auto;
}
.editor {
  height: 800px;
  font-family: 'M PLUS 1p', sans-serif;
}
.preview {
  width: 100%;
  height: 800px;
  font-family: 'M PLUS 1p', sans-serif;
}
.tm-navbar {
    padding: 15px 0;
    border: none;
    background: #000;
}
.tm-navbar {
    position: relative;
}

.warningLineDecoration {
    background: red;
    width: 5px !important;
    left: 3px;
}

.edit-title {
    font-size: 70%;
}

.edit-title:hover {
    opacity: 0.8;
}